.content{
    padding-top: 44px !important;
    margin-bottom: 40px;
    padding-bottom: 0 !important;
    /* background-color: #fff !important; */
    padding-left: 10px;
    padding-right: 10px;
}
.hide {
    display: none !important;
}
.ctpanel {
    padding-bottom: 0px;
    min-height: 300px;
}
/*Side menu css*/
.accountpop{
  position:fixed;
  width:275px;
  left:-275px;
  height:100vh;
  transition: all .2s ease-in-out;
  /* background:rgba(255,2555,255,0.95); */
  z-index:20000;
  box-shadow:0px 0px 5px rgba(0,0,0,0.5);

  background-color: rgba(71,52,39,.9)!important;
  background-image: -webkit-linear-gradient(left top,#4d2605 0,#81450d 19%,#aa5000 46%,#a24f03 53%,#ff7900 86%,#ee7100 100%)!important;

    background-image: linear-gradient(to right bottom,#4d2605 0,#81450d 19%,#aa5000 46%,#a24f03 53%,#ff7900 86%,#ee7100 100%)!important;
}

.accountpop a {
    display: block;
    vertical-align: middle;
    color: #f1f1f1;
    font-size:15px;
    line-height:25px;
	padding: 16px 30px 16px 16px;
    border-bottom:1px solid rgba(241,241,241,.3) !important;
    background-color: transparent;
    text-transform: capitalize;
}
.sub-side-menubar {
    border-bottom: 1px solid #e3e3e3;
    display: none;
    background-color: rgba(162, 92, 30, 0.76);
    box-shadow: inset 0 0 10px #45290f;
}
.sub-side-menubar a{
	padding: 10px 25px 5px 50px;
    font-size: 14px;
}
.sub-side-menubar i{
	margin-right: 10px;
}

.side-menubar i{
	float: right;
    transition: all .4s ease-in-out;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
}

.side-menubar i.icon-lft{float: none;margin-right: 10px;}
.side-menubar.open i.icon-lft{
    transform: rotate(0deg);
}
.side-menubar.open i{
	    transform: rotate(-90deg);
}
.side-menubar .icon{
	font-size:18px;
	margin-right:10px;
}
.side-barmenu .icon{
	font-size:18px;
	margin-right:10px;
}
.side-barmenu .fa-address-card-o{
	float:left;
	margin-right:10px;
	font-size: 15px;
    line-height: 25px;
	color: #fff;
}
.accountpop-top{
	    width: 100%;
    min-height: 50px;
}
.accountpop-top label{
    display: block;
    color: #f0f0f0;
    font-size:19px;
    border-bottom: 1px solid #f0f0f0;
    text-align:center;
    padding: 10px;
    text-transform: capitalize;
    line-height:29px;
}

.accountpop-top img{margin-right:10px;vertical-align: middle;}
/*Side menu css*/

/*Header css starts here*/
.bar-nav {
    top: 0;
}
.bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor:pointer;
background: #fd8111; /* Old browsers */
background: -moz-linear-gradient(left, #fd8111 1%, #ffc802 49%, #fd8111 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #fd8111 1%,#ffc802 49%,#fd8111 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #fd8111 1%,#ffc802 49%,#fd8111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8111', endColorstr='#fd8111',GradientType=1 ); /* IE6-9 */
    color: #fff;
    box-shadow: 0px 0px 10px #555353;
}

.bar .icon.onlyicon {
    font-size: 26px !important;
    font-weight: 600;
    top: 5px !important;
    left: 10px;
}

.bar .btn .icon {
    top: 3px;
    padding: 0;
}

.bar .icon {
    /* position: relative; */
    /* z-index: 20; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px !important;
    font-weight: 400;
    top: 2px !important;
}


.icon-bars:before {
    content: '\e80e';
}
.bar-nav .btn-link {
    color: #fff !important;
}
/*Header css ends here*/

/*common pages styles*/

.inner-frame{
	padding:3%;
}
.inner-frame h3{
	    padding: 10px 0;
    display: block!important;
	margin-bottom:0;
    line-height: 1.4;
    font-size: 22px;
	color:#777;
	text-align:center;
	}
/*common pages styles*/


/*about organization css*/

.News p, .events p, .text-i {
    color: #8A1603;
}

.about-org {
    list-style-image: url(http://res.cloudinary.com/masterek/image/upload/c_fill,g_auto,dpr_auto,w_auto,q_auto/v1483783951/icon2_mfb1wy.png);
    padding-top: 15px;
    padding-left: 30px;
}
.about-org li {
    font-size: 18px;
    font-weight: 700;
    text-transform:inherit;
}

.text-align-font {
    font-size: 16px;
    padding-left: 2%;
    padding-right: 2%;
}
/*about organization css*/

/*pagination css*/

.button-bgcolor .btn {
    background-color: rgba(192,192,192,.6);
    margin-top: 5px;
}
.btn {
    display: inline-block;
    padding: 5px 13px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* border: 2px solid gray; */
    border-radius: 4px;



}
.sml-button {
    background-color: #fd8111!important;
    border-color: #fd8111!important;
    color: #fff;
}
/*pagination css*/

/*masters page css*/

.ctpanel-page p{font-size:16px;text-align: justify;color: #111;}

/*masters page css*/

/*Radio page css*/
.ribbon {
    font-size: 16px!important;
    width: 70%;
    position: relative;
    background: #fd8111;
    padding: 1em 0;
    margin: 1em auto 2em;
}

.ribbon, .ribbon-orange {
    text-align: center;
    color: #fff;
}

.non-semantic-protector {
    position: relative;
    z-index: 1;
}

.ribbon:before {
    left: -3em;
    border-right-width: .5em;
    border-left-color: transparent;
}
.ribbon:after, .ribbon:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -.5em;
    border: 3.5em solid rgba(253,115,17,1);
    z-index: -1;
}
.ribbon:before {
    left: -3em;
    border-right-width: .5em;
    border-left-color: transparent;
}
.ribbon:after {
    right: -3em;
    border-left-width: .5em;
    border-right-color: transparent;
}

.progrm-details {
    width: 100%!important;
    height: auto;
    box-shadow: 0 4px 6px 0 #bbb;
    background-color: #faedc5;
    padding: 20px;
    margin: 0 auto;
    font-size: 16px;
}

.progrm-start-date {
    width: 100%;
}

.progrm-start-date h4 {
    color: #bd1c10;
    font-size: 18px;
    font-weight: 700;
}

.progrm-start-date h4 span {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 400;
}

.progrm-end-date {
    width: 100%;
}

.progrm-end-date h4 {
    color: #bd1c10;
    font-size: 18px;
    font-weight: 700;
}

.progrm-end-date h4 span {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 400;
}

.progrm-title {
    margin-bottom: 20px;
}

.progrm-title h4 {
    color: #bd1c10;
    font-size: 18px;
    font-weight: 700;
}

.progrm-title h4 span {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 400;
}

.new-animate {
    -webkit-transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
    -moz-transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
    -ms-transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
    -o-transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
    transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
}

.new-animate, .img-fix {
    position: relative;
}
/*Radio page css*/


/*Centers page css*/

.center-heading, .center-span {
    font-size: larger;
    font-weight: bolder;
    color: Maroon;
}

.center-span {
    margin-top: 30px;
}

.plain-container {
    display: table;
    width: 100%;
}

.center .form-control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    margin: auto;
}

.all-centers {
    margin-bottom: 15px;
    color: #bd1c10;
}

button, input, label, select, textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
}

.abt-ctr-mg {
    margin-top: 10px;
}


.centers-bg {
    background-color: #fd8111;
    color: #fff;
    display: block;
    padding: 20px 20px 20px 70px;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 24px;
}

.center-details {
    width:100%;
    height:auto;
    box-shadow: 0 4px 6px 0 #bbb;
    background-color: #faedc5;
    padding: 20px;
    margin-bottom: 30px;
    margin:auto;
    font-size: 16px;
}

.centers-left, .centers-right {
    float: none;
    width: 100%;
}

.centers-left {
    font-size: 20px;
}
.all-centers, .center-heading, .centers-email, .centers-left, .centers-right {
    text-align: center;
}

.content-name {
    color: #bd1c10;
}
.center-details label, .content-name, .grid td, .grid th {
    font-weight: 700;
}

.center-address, .centers-email, .content-name, .ext-content, .magazine-grid td {
    word-break: break-all;
}

address, dl {
    margin-bottom: 20px;
}

address, blockquote small, dd, dt {
    line-height: 1.42857;
}
.view-container, address, blockquote small {
    display: block;
}
address, cite {
    font-style: normal;
}
.centers-right {
    font-size: 18px;

}
.centers-email a, .play-icon:hover {
    color: #333;
}



.centers-right a {
    color: #333;
}

.centers-email {
    font-size: 18px;
    padding-left: 45px;
    margin-top: 10px;

}

@media screen and (max-width: 767px){
    .centers-email {
        font-size: 18px;
        padding-left: 0;
    }
}
@media screen and (max-width: 767px){
    .centers-email, .centers-right {
        background-image: none;
    }
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 992px){
    .col-md-4 {
        width: 33.33333333%;
    }
}
@media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
@media (min-width: 768px){
.col-sm-6 {
    width: 50% !important;
}
}
@media (min-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}
/*Centers page css*/

/*News page css*/

.login-mgtp, .mgtp-20 {
    margin-top: 20px;
}

.marginTB30 {
    margin-bottom: 20px;
}
.col-xs-12 {
    width: 100%;
}

.moreInfoContainer {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    background: #000;
    cursor: pointer;
}

.moreInfo {
    position: absolute;
    bottom: -80%;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    padding: 3%;
    color: #fff;
    -webkit-transition: all .6s cubic-bezier(.86,0,.07,1);
    transition: all .6s cubic-bezier(.86,0,.07,1);
}
.marginTB30 {
    margin-bottom: 20px;
}

@media screen and (max-width: 992px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -73%;
        background: rgba(210,105,30,.85);
    }
}
@media screen and (max-width: 768px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -89%;
    }
}
@media screen and (max-width: 767px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -89%;
    }
}

@media screen and (max-width: 640px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -86%;
    }
}

@media screen and (max-width: 600px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -84%;
    }
}

@media screen and (max-width: 480px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -76%;
    }
}


@media screen and (max-width: 479px) and (min-width: 359px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -76%;
    }
}


.moreInfo h2 {
    font-size: 20px;
    border-bottom: 2px solid #ff6a00;
    display: inline-block;
    margin-bottom: 10px;
}
.news-header {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis!important;
}

.flow, .news-header, .title-header {
    white-space: nowrap;
}

.flow.multiline {
    white-space: normal;
}

.flow {
    overflow: hidden;
    height: 40px;
}

.flow p{color:#fff;}

.col-xs-12 {
    width: 100%;
}
@media (min-width: 768px){
    .col-sm-4 {
        width: 33.33333333%;
    }
}

@media (min-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}

.new-inner p{
    font-size: 16px;
    text-align: justify;
    color:#333;
}
.back-icon {margin-bottom:20px;}

.back-icon i{
    float: left;
    font-size: 18px;
    margin-right: 20px;
    color: #fff;
    background-color: #fd8111;
    padding: 5px;
    border-radius: 50%;
}

.back-icon h3{
    padding: 0;
    line-height:1;
}
/*News page css*/


/*Gallery page css*/

.padding {
    padding: 10px;
}

.my-gallery {
    position: relative;
    overflow: hidden;
    box-shadow: 10px 1px 10px 0 #a09c9c;
    margin-top: 30px;
    height: 300px;
    border-radius: 10px;
}

@media screen and (max-width: 767px){
    .my-gallery {
        width: 98%;
        height: auto;
    }

}


.fix-header {
    position: absolute;
    bottom: -88%;
    left: 0;
    background: #fd8111;
    width: 100%;
    height: 100%;
    padding: 2%;
    color: #fff;
    -webkit-transition: all .6s cubic-bezier(.86,0,.07,1);
    transition: all .6s cubic-bezier(.86,0,.07,1);
    font-size: 18px;
}

.image-header {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Gallery page css*/


/*Header css*/

.title a{    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-right: 37px;
}

/*Header css*/

/*bottom bar css*/
.btn-nav img{vertical-align: middle;}
.radio-play{
    background: url("../img/play.jpg") no-repeat center center;
    width:29px;
    height:24px;
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
 }

 .radio-mute{
    background: url("../img/mute.png") no-repeat center center;
    width:29px;
    height:24px;
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
 }


 .fedbck-btn{
     vertical-align: middle;
 display: block;
 color: #fff;
 background-color: #fd8000;
 border-color: #fd8000;
 box-shadow: none;
 line-height: 45px;
 font-size: 16px;
}
/*bottom bar css*/

/*Home page main banner*/
.main-banner{margin-top: 7px;}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.main-banner .carousel-control.left, .main-banner .carousel-control.right {
    background-image: none !important;
    z-index: 10;
}
/*Home page main banner*/

/*home page recent updates*/

.latest-slider {
    margin-bottom: 30px;
}
.latest-slider .slider {
    width: 100%;
    overflow: hidden;
    background-color: #efeff4;
}

.slider .slide-group {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    transition: all 0s linear;
}

.slide {
    padding-bottom: 10px;
}

.slide-width {
    float: left;
    width: 49%;
    margin-right: 3px;
}

.slide .slide-width img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.latest-content-app {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
    box-shadow: 1px 2px 1px rgba(93, 93, 93, 0.3);
}

.latest-content-app h2 {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: #fe9904;
}
.latest-content-app p{
    color: #959595;
    font-size: 12px;
    margin: 2px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
     overflow: hidden;

}

.sub-header {
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
    color: #e62a04!important;
    text-align:center;
}

/*home page recent updates*/

/*home page add banners*/

.home-add {
    margin: auto;
    text-align: Center;
    position: relative;
    width: 100%;

}

.home-add img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/*home page add banners*/


/*Lectures page css */

.list {
    /* padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    position: relative; */
}

.lecture-item {
    border-color: #ddd;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;

}

.lecture-item.activated, .ilecture-item.active.lecture-item-complex>.lecture-item-content {
    border-bottom: 1px solid rgba(241,241,241,.3)!important;
    background-color: rgba(253,129,17,.58)!important;
}

/*Lecture page css*/

/*Player page css*/
.play-list {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    position: relative;
}

.play-item {
    border-color: #ddd;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    border: none;
}
.card, .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #fff;
}
.play-list {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 72px;
    min-height: 72px;
}

.item-avatar>img:first-child {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.play-item p {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;

}

.play-title p {
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .play-item {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.play-item.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
}

.tab-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    max-width: 150px;
    height: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    opacity: .7;
}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 28px;
}

.tab-item:active {
    color: #444444;
}
/*player page css*/

/*Notifications page css*/

.notifications-date h5 {
    color: #fff !important;
    font-size: 18px;
    margin: 0px;
    background-color: rgba(189, 28, 16, 0.66); /*rgba(253, 134, 17, 0.66);*/
    padding: 10px;
    border-radius: 5px;
    /*display: inline-block;*/
}
.notifications-nrf{text-align:center;margin-bottom:20px;}
.notifications-nrf h5 {
    color: #fff !important;
    font-size: 20px;
    margin: 0px;
    background-color: rgba(189, 28, 16, 0.66); /*rgba(253, 134, 17, 0.66);*/
    padding: 10px;
    border-radius: 5px;
    /*display: inline-block;*/
}

.notifications-grid  span {
    color: #066;
    line-height: 30px;
}

.notifications-grid  p {
    margin: 18px 0;
    text-align: left;
}

.notifications-grid  {

    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    /*margin:20px;*/
    margin-top:0;
}


.notifications-inner {
margin-left: 33px !important;
height: 300px;
width: 500px;
padding: 20px;
margin: 10px;
}

.notifications-filter {
padding:0;
width: 100%;
margin: auto;
margin-top: 5px;
/*margin-bottom: 15px;*/
}

.filter1 {
float: left;
margin-right: 10px;
width:48%;
}

.filter2 {
float: left;
width:48%;
}
.notifications-msg{margin-bottom:20px;}

.notifications-details{margin-left:35px;position:relative;}
.notifications-title{font-size:18px;margin-bottom:20px;}
.notifications-viewbtn{position:absolute;bottom:20px;left:185px;}
.notifications-filter .md-errors-spacer{display:none !important;min-height: 0 !important;}
.notifications-card{text-align:left;font-size:17px;}
.n-viewbtn{
color: rgb(33,33,33);
background-color: rgb(250,250,250);
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
padding:5px;
display:inline-block;
font-size:16px;
margin-top:15px;

}
.clear{clear: both;}

.notifications-card {
    margin-top: 15px;
}
/*Notifications page css*/

/*Galleyinner css starts here*/
.gallery-thumb img{
    box-shadow: 6px 6px 10px #bbb;
    margin: 10px;
    width: 90px;
    height: 90px;
    transition: 0.4s ease;
}

.lb-data .lb-details{display: none;}
.lb-data .lb-close{
    position: absolute;
    top:-35px;
    right:10px;
}


blockquote {
    min-height: 5em;
    padding   : .5em;
    width: 100%;
    font      : 1em/150% sans-serif;
    position  : relative;
    background-color: white;
    border-radius: 12px;
    margin: 5px 0 15px 0;
    box-shadow: 0px 0px 10px #bebebe;

    line-height: 1.9;
  }

  blockquote::before,
  blockquote::after {
    position: absolute;
    height  : 3rem;
    font    : 6rem/100% Georgia, "Times New Roman", Times, serif;
  }



  blockquote i {
    display   : block;
    font-size : 0.8em;
    margin-top: 1rem;
    text-style: italic;
    text-align: right;
  }

  /* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body > div {
    /* border:1px dashed red; */
    margin-bottom:10px;
}

.displaydate{

    text-align: center;
    font-size: 17px;
    /* background-color: #bbb; */

    border-radius: 4px;
    border-left: -4px;
    border-right: -3px;
    /* width: 170px; */
    padding-left: 2px;
    left: -7px;
    right: 8px;
    height: 32px;
    /* background: #3e3838; Old browsers */
    /* background: -moz-linear-gradient(left, #fd8111 1%, #ffc802 49%, #fd8111 100%);
    background: -webkit-linear-gradient(left, #fd8111 1%,#ffc802 49%,#fd8111 100%);
    background: linear-gradient(to right, #fd8111 1%,#ffc802 49%,#fd8111 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8111', endColorstr='#fd8111',GradientType=1 );
    /* color: white; */
    display: inline-block;
}


.Proverb{
    color: #fff;
    font-size: 17px;
    padding-top: 13px;
    text-align: center;
}
.msgtitle{
    margin-top: -2px;
    padding-left: 7px;
    font-size: 18px;
    color: goldenrod;
    font-family: 'karlaregular';
    font: inherit;
    float: left;

}

.username{
    text-align: right;

    margin-right: 15px;
    padding-left: 7px;
    font-size: 18px;
    color: goldenrod;
    font-family: 'karlaregular';
    font: inherit;

}

.msgtime{
    position: absolute;
    padding-right: 7px;
    font-size: 15px;
    bottom: 0;
    right: 5px;
    color: #fd8111;
}
.textmsg {
    padding-top: 7px;
    font-size: 15px;
    padding-left: 6px;
    line-height: 1.5;
    color: #8A1603;
    font-family: 'karlaregular';
    font: inherit;
    padding-right: 6px;
    text-align: justify;

}
.textmsg p{
    color: #8A1603 !important;
}

.zoomed{
    width: 100%;
}

.uploadimg{
    height: 100%;
    width: 100%;
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 15px;

}
.datedis{
    /* text-align: left; */
}
.textimage{
    /* background-color: beige; */
}
/* .datedis{
    padding-left: 45%;
} */
.datetext12{
    padding-top: 11px;
}
.mainpadding{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.zoomInOn, .zoomInOff, .zoomOutOn, .zoomOutOff
{
   width:34px;
   height:34px;
   display:block;
   position:absolute;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.zoompopupimg{
    width: 100%;
    height: 56%;
    margin-top: 25%;
}

.zoomInOn, .zoomInOff
{
   background-image:url(../assets/zoom_in.png);
   top:10px;
   right:10px;
}

.zoomOutOn, .zoomOutOff
{
   background-image:url(../assets/zoom_out.png);
   top:52px;
   right:10px;
}

.zoomInOn, .zoomOutOn
{
   opacity:1;
   cursor:pointer;
}

.zoomInOff, .zoomOutOff
{
   opacity:0.3;
   cursor:auto;
}

.morebutn{
    width: 100px;
    text-align: center;
    margin-left: 42%;

}

.showmorebtn{

    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    border-left: -4px;
    border-right: -3px;
    width: 130px;
    padding-left: 2px;
    left: -7px;
    right: 8px;
    height: 32px;
    background-color: #fc8011;
}


/*Search css*/


.inpt-border {
    border: 1px solid #2e6da4 !important;
    font-size: 18px !important;
    /* height:40px !important; */
}

.inpt-sch {
    position: relative;
}

.inpt-sch i {
    position: absolute;
    top: 10px;
    z-index: 5;
    right: 5px;
    color: #a7a7a7;
    font-size: 16px;
    cursor: pointer;
}
.searchTxt{
    border-bottom-left-radius:10px !important;
    border-top-left-radius:10px !important;
}

/* .searchTxt1{
    margin-left: 6px;
    width: 96%;
} */

/*New search*/




* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  }
  body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DDDDDD;
    border-bottom: 1px solid #BBBBBB;
    height: 60px;
    z-index: 2;
  }
  #header #title {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  #header #toggleChat {
    position: absolute;
    top: 26px;
    background-color: #eee;
    right: 0;
    font-size: 12px;
    text-decoration: underline;
    padding: 2px;
    border-radius: 2px;
  }
  #header #focusMessenger {
    position: absolute;
    top: 26px;
    background-color: #eee;
    right: 44px;
    font-size: 12px;
    text-decoration: underline;
    padding: 2px;
    border-radius: 2px;
  }
  #header #updateMessenger {
    position: absolute;
    top: 26px;
    background-color: #eee;
    right: 86px;
    font-size: 12px;
    text-decoration: underline;
    padding: 2px;
    border-radius: 2px;
  }
  #messages {
    width: 96%;
    left: 2%;
    position: absolute;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
  }
  .message {
    width: 100%;
    padding: 4px 0;
  }
  .right {
    text-align: right;
  }
  .message span {
    width: 65%;
    padding: 14px 10px;
    border-radius: 5px;
    display: inline-block;
    /*margin: 0 20px;*/
    text-align: left;
  }
  .message div {
    padding: 6px 10px;
    display: inline-block;
    margin: 0 20px 8px 20px;
    color: #BBBBBB;
    font-size: 12px;
  }
  .message.left span {
    background-color: #CCCCCC;
  }
  .message.right span {
    color: #FFFFFF;
    background-color: #007AFF;
  }

  .inpt-sch {
    position: relative;
    margin-top: 26px;
}
/* .searchicon {
    margin-top: -37px;

    padding-left: 95%;
} */
.input-group-btn{
    position: absolute;
    top:0;
    right: 0;
}
.input-group {
    background-color:#fff;
}

@media screen and (min-width: 600px)
and (orientation: landscape) {
    blockquote {
        min-height: 5em;
        padding   : .5em;
        width: 100%;
        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    }
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }
}




/* Adimn Starts */


input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }


  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }


  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }


  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }


  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  @media screen and (max-width: 600px)
  and (orientation: landscape) {
    .col-25, .col-75, input[type=submit] {
      width: 84%;
      margin-top: 0;
    }
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }
  }


/* Admin Ends */


/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*==============================================================
 For Laptop & above all (1650px)
 ============================================================== */

 @media(min-width:1650px)
 and (orientation: landscape) {
    /* blockquote {
        min-height: 5em;
        padding   : .5em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    } */
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }
}
/*==============================================================
 For Laptop & above all (1370px)
 ============================================================== */

@media(max-width:1600px)
and (orientation: landscape) {
    /* blockquote {
        min-height: 5em;
        padding   : .5em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    } */
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }
}


/*-- ==============================================================
 Small Desktop & above all (1024px)
 ============================================================== */

@media(min-width:1024px)
and (orientation: landscape){
    /* blockquote {
        min-height: 5em;
        padding   : .5em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    } */
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }

}

@media(max-width:1023px)
and (orientation: landscape) {
    /* blockquote {
        min-height: 5em;
        padding   : .5em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    } */
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }
}


/*-- ==============================================================
 Ipad & above all(768px)
 ============================================================== */

@media(min-width:768px)
and (orientation: landscape){
    /* blockquote {
        min-height: 5em;
        padding: 1em 0em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    } */


    .morebutn {
        width: 100px;
        text-align: center;
        margin-left: 45%;
    }
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }

}


/*-- ==============================================================
 Phone and below ipad(767px)
 ============================================================== */



@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  /* and (-webkit-min-device-pixel-ratio: 2) */
  and (orientation: landscape) {
    /* blockquote {
        min-height: 5em;
        padding   : .5em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: #ffffffe8;
        box-shadow: 0px 0px 10px #bebebe;
        border-radius: 12px;
        line-height: 1.9;
    } */

    .morebutn {
        width: 100px;
        text-align: center;
        margin-left: 35%;
    }
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  /* and (-webkit-min-device-pixel-ratio: 2) */
  and (orientation: landscape) {
    /* blockquote {
        min-height: 5em;
        padding   : .5em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    } */
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }

}

@media only screen
  and (min-device-width: 481px)
  and (max-device-width: 768px)
  /* and (-webkit-min-device-pixel-ratio: 2) */
  and (orientation: landscape){


    /* blockquote {
        min-height: 5em;
        padding   : .5em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    } */

    .morebutn {
        width: 100px;
        text-align: center;
        margin-left: 41%;
    }
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }
}

@media only screen
and (min-device-width: 481px)
and (max-device-width: 768px)
  /* and (-webkit-min-device-pixel-ratio: 2) */
  and (orientation: landscape) {
    /* blockquote {
        min-height: 5em;
        padding   : .5em;

        font: 1em/150% sans-serif;
        position: relative;
        background-color: white;
        border-radius: 12px;
    } */

    .morebutn {
        width: 100px;
        text-align: center;
        margin-left: 42%;
    }
    .zoompopupimg{
        width: 65%;
        height: 87%;
        margin-top: 0%;
    }
}


@media only screen
and (min-device-width: 769px)
and (max-device-width: 1024px)
/* and (-webkit-min-device-pixel-ratio: 2) */
and (orientation: landscape) {

/*
  blockquote {
      min-height: 5em;
      padding   : .5em;

      font: 1em/150% sans-serif;
      position: relative;
      background-color: white;
      border-radius: 12px;
  } */

  .morebutn {
      width: 100px;
      text-align: center;
      margin-left: 42%;
  }
  .zoompopupimg{
    width: 65%;
    height: 87%;
    margin-top: 0%;
}
}



.alertMsg{
    width:300px;
    min-height:40px;
    padding:10px 15px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    right:8px;
    bottom:8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff!important;
    z-index: 999999;
    border: 1px solid #ffffff83;
    }
    .alertMsg.sucessMsg{
    background-color: #208322;
    }
    .alertMsg.InfoMsg{
    background-color: #0e6cc4;
    }
    .alertMsg.warningMsg{
    background-color: #b3770f;
    }
    .alertMsg.dangerMsg{
    background-color: #B83226;
    }

    .cli{
        display: block;
    }

    .bar .btn-link {
        float: right;
    }
    .noimage{
        text-align: center;
        padding-top: 13px;
    }

    .sch-wdth {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        height: 2px;
    }

    .maincontent{
        padding-top: 12px;
    }

    .badge-wrapper {
        position: relative;
    }

    .badge {
        position: absolute;
        top: 0;
        right: -5px;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #ddd;
    }

    .fa-stack[data-count]:after{
        position:absolute;
        right:0%;
        top:1%;
        content: attr(data-count);
        font-size:30%;
        padding:.6em;
        border-radius:999px;
        line-height:.75em;
        color: white;
        background:rgba(255,0,0,.85);
        text-align:center;
        min-width:2em;
        font-weight:bold;
      }

      .bellicon{

        font-size: 22px;
        color: #fd8111!important;
        padding-left: 91%;
        padding-top: 19px;
      }



      .margininsert{
        margin-top: 42px;
      }
      .insertdata{
        text-align: center;
      }
      .subbtn{
        padding-left: 21px;
        padding-right: 41px;
      }

      .hideclass{
          display: none !important;
      }
    .loginicon{
        position: absolute;
        width: 30px;
        right: 13px;
        margin-top: 9px;
    }
    .loginbck{
    position: absolute;
    font-weight: 500;
    line-height: 44px;
    color: #000;
    white-space: nowrap;
    padding-top: 5px;
    right: 10px;
   }

.loginicon-page label{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logintitle{
    font-size: 27px;
    margin-bottom: 13px;
    text-align: center;
}

.margininsert{
    margin-top: 42px;
  }
  .insertdata{
    text-align: center;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }



  .spinner{
    background-color:#42424286;
    cursor: no-drop;
    width:100vw;
    height: 100vh;
    position: fixed;
    z-index: 99999999999;

    }
    .spinner > span {
    border: 11px solid #808080;
    border-top: 11px solid #9f3122;
    border-left: 11px solid #9f3122;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;

    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    /* height: 50%; */
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 90%;
    position: relative;
    border-radius: 26px;
    padding: 15px 8%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

body {
    padding-top: 50px;
  }
  .block {
    height: 400px;
  }
  .list ul li  {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .borders {
      border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border: 1px solid #000000;
      /* background-color: rgba(1355,255,000,0.4);adjust the div transparency here */
      padding: 5px 15px;
  }

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.textalign{
    text-align: left;
    margin-bottom: 20px;
}

.custom-file-input::before {
  content: 'Upload Image';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



.custom-file-input1::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input1::before {
  content: 'Upload Vedio';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input1:hover::before {
  border-color: black;
}

.custom-file-input1:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



#snackbar {
    visibility: hidden;
    min-width: 413px;
    margin-left: -125px;
    background-color: #15a21b;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 30%;
    top: 50px;
    font-size: 17px;
}

#snackbar.show {
visibility: visible;
-webkit-animation: fadein 1.5s, fadeout 1.5s 2.5s;
animation: fadein 1.5s, fadeout 1.5s 2.5s;
}

@-webkit-keyframes fadein {
from {top: 0; opacity: 0;}
to {top: 50px; opacity: 1;}
}

@keyframes fadein {
from {top: 0; opacity: 0;}
to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {top: 50px; opacity: 1;}
to {top: 0; opacity: 0;}
}

@keyframes fadeout {
from {top: 50px; opacity: 1;}
to {top: 0; opacity: 0;}
}

.popup-overlay{
/*Hides pop-up when there is no "active" class*/
visibility:hidden;
position:absolute;
background:#ffffff;
border:3px solid #666666;
width:50%;
height:50%;
left:25%;
}
.popup-overlay.active{
/*displays pop-up when "active" class is present*/
visibility:visible;
text-align:center;
}

.popup-content {
/*Hides pop-up content when there is no "active" class */
visibility:hidden;
}

.popup-content.active {
/*Shows pop-up content when "active" class is present */
visibility:visible;
}

button{
display:inline-block;
vertical-align:middle;
border-radius:30px;
margin:.20rem;
font-size: 1rem;
color:#666666;
background:   #ffffff;
border:1px solid #666666;
}


/* Zoom in and out :start */

.zoom-img{
    background: rgba(0, 0, 0, 0.94);
    cursor: pointer;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
    margin-top: 0px;
}
.zoom-img .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.zoom-img > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: 30%;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 80%;
    position: relative;
    border-radius: 26px;
    padding: 15px 8%;
}

/* end */

.login-bg{
    /* opacity: 0.5; */
    background-color: rgba(47, 94, 92, 0.5);
    max-height:100vh;
    z-index:99999;
    position: fixed;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;

    }

